.block {
    font-size: 14px;
}

a {
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
    margin-right: 5px;
}

.header {
    padding: 10px;
}

textarea {
    width: 100%;
    height: 700px;
}

.ip {
    color: #e84e4e;
}

.domain {
    color: #32bb7f;
}

.ip, .domain {
    cursor: pointer;
}

.tip {
    width: 10%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #2ca81b;
    height: 25px;
    border-radius: 10px;
    background-color: #dedecb;
    text-align: center;
    display: none;
    font-weight: 500;
}

.tip_err {
    width: 10%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ff6500;
    height: 25px;
    border-radius: 10px;
    background-color: #dedecb;
    text-align: center;
    display: none;
    font-weight: 500;
}

.right {
    float: right;
}

#envlist {
    width: 200px;
}

.mr20 {
    margin-right: 20px;
}

.allContent {
    margin-left: 100px;
}

br {
    line-height: 2;
}